<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{$Think.const.PUBLIC_LIB_PATH}html5shiv.js"></script>
    <script type="text/javascript" src="{$Think.const.PUBLIC_LIB_PATH}respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{$Think.const.STATIC_PATH}h-ui/css/H-ui.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.PUBLIC_LIB_PATH}Hui-iconfont/1.0.8/iconfont.min.css" />
    <!--[if lt IE 9]>
    <link href="{$Think.const.STATIC_PATH}h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 6]>
    <script type="text/javascript" src="{$Think.const.PUBLIC_LIB_PATH}DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <script type="text/javascript" src="{$Think.const.PUBLIC_LIB_PATH}jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{$Think.const.PUBLIC_LIB_PATH}jquery-ui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{$Think.const.STATIC_PATH}h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="{$Think.const.PUBLIC_LIB_PATH}jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
    <style type="text/css">
        .ui-sortable .panel-header{ cursor:move}
    </style>
    <title>网络管理</title>
    <meta name="keywords" content="关键词,5个左右,单个8汉字以内">
    <meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body>
{__CONTENT__}
<footer class="footer mt-20">
    <div class="container">
        <p>Copyright &copy; <br>
            <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">备案号:hjghjk</a>
        </p>
    </div>
</footer>
<script>
</script>
</body>

</html>
